<!-- Jumbotron Header -->
<header class="jumbotron my-4">
  <h1 class="display-3">Nico's Ruby Ecommercy website!</h1>
  <p class="lead">This is the final project of Full-stack web development.</p>
  <a href="#" class="btn btn-primary btn-lg">Hire me!</a>
</header>