<nav class="navbar navbar-default">
  <div class="nav nav-justified navbar-nav">

    <form class="navbar-form navbar-search" role="search">
      <div class="input-group">

        <div class="input-group-btn">
          <button type="button" class="btn btn-search btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-search"></span>
            <span class="label-icon">Search Product</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-left" role="menu">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-user"></span>
                <span class="label-icon">On Sale</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-book"></span>
                <span class="label-icon">New</span>
              </a>
            </li>
            <!--add categories here-->
          </ul>
        </div>

        <input type="text" class="form-control">

        <div class="input-group-btn">
          <button type="button" class="btn btn-search btn-default">
            GO
          </button>


        </div>
      </div>
    </form>

  </div>
</nav>
</div>