<div>

  <h1>Current Addresses</h1>

  <% if @addresses.count >0 %>
    <%= render '/addresses/address_index' %>
      <br>
    <%= link_to 'New Address', new_address_path %>
  <% else %>
      <p>You haven't add your address.</p>
      <p><%= link_to 'Please add one', new_address_path %></p>
  <% end %>




</div>