<div>
  <h3>Current Addresses</h3>

  <% if @addresses.count >0 %>
    <%= render '/addresses/address_index' %>
    <%= link_to 'New Address', new_address_path %>
  <% else %>
      <p>You haven't add your address.</p>
      <p><%= link_to 'Please add one', new_address_path %></p>
  <% end %>
</div>