<div>
  <p>This will be a shopping cart!</p>
  <ul>
    <% if session[:cart]== nil %>
      <li>add something in your cart</li>
    <% else %>
        <%= form_tag do %>
        <% @cart = session[:cart] %>
          <% @cart.keys.each do |key| %>
              <li><%= key %> <%= number_field_tag  key ,@cart[key]%><button>Update</button></li>
          <% end %>
        <% end %>
    <% end %>
  </ul>
  <p>Check Out!</p>
</div>